# Python & Django gitignore
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django local database & static collect
# db.sqlite3
*.log

# Environment variables
.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
